.logo {
  border: 1px solid red;
  width: 25%;
  text-align: center;
}
.logo > h1 {
  color: white;
  margin-top: 15px;
}

.navBar {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  background-color: black;
  height: 70px;
}

.links {
  border: 1px solid red;
  width: 50%;
  text-align: center;
}

.button {
  border: 1px solid red;
  width: 25%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.contact {
  height: 30px;
  width: 70px;
  border-radius: 10px;
  background-color: teal;
  color: white;
}

.services {
  width: 10%;
}
